body{
    background-color: #17349277;
    font: normal 15pt robot;
    
}

header{
    text-align: center;
}

section{
    font-size: 2rem;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 30rem;
    margin: auto;
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.139);
}
#foto{
    padding: 20px;

}
footer{
    text-align: center;
}